body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
  background-color: #e9e1da;
}

.container-main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr 0.5fr;
}
.header {
  grid-column: 1 / 3;
  font-size: 40px;
  text-align: start;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #97bbb3;
}
.headerTitle {
  font-size: 60px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.addBtn {
  height: 2em;
  width: 2em;
  font-size: 40px;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px #5c5d5d;
}
.addBtn:hover {
  background-color: lightgrey;
}
.addBtn:active {
  background-color: darkslategrey;
  color: white;
}
.sidebar {
  border: solid;
  border-color: white;
  padding: 20px;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: rgb(202, 201, 181);
}
.today {
  margin-top: 40px;
}
.sideNav {
  height: 40px;
  font-size: 30px;
  border-radius: 30px;
}
.mainSection {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.footer {
  grid-column: 1/3;
  border-top: solid;
  color: white;
  background-color: rgb(113, 112, 111);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideNav:hover {
  background-color: lightgrey;
}
.sideNav:active {
  background-color: darkslategrey;
  color: white;
}
.project:hover {
  background-color: lightgrey;
}
.project:active {
  background-color: darkslategrey;
  color: white;
}

.projectList {
  text-align: start;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.project {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  border-radius: 5px;
  height: 70px;
  align-items: center;
  padding: 0 20px 0 20px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.pDueDateDiv {
  color: red;
}
.informationBox {
  border: solid;
  border-color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(202, 201, 181);
  padding: 20px;
}
.projectNameInfo {
  font-size: 30px;
}
.tasksDiv {
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: scroll;
}
.addTaskBtn {
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 20px;
  box-shadow: 2px 2px #5c5d5d;
}
.addTaskBtn:hover {
  background-color: lightgrey;
}
.addTaskBtn:active {
  background-color: darkslategrey;
  color: white;
}
.addProjectBox {
  position: absolute;
  top: 20%;
  left: 35%;
  border: solid;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #353a3b;
  color: #e9e1da;
  border-radius: 40px;
}
.apbHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 3em;
}
.pErrorMsg {
  color: red;
  height: 10px;
}
.addProjectBoxTitle {
  grid-column: 1/3;
  margin: auto;
}
.closeProjectBtn {
  width: 2em;
  height: 2em;
  margin-left: 6em;
  margin-top: 1em;
  border-radius: 50%;
}
.closeProjectBtn:hover {
  background-color: lightgrey;
}
.closeProjectBtn:active {
  background-color: #954229;
  color: white;
}
.projectSubmitBtn {
  height: 2em;
  width: 2em;
  margin-top: 3em;
  border-radius: 50%;
  font-size: 30px;
}
.projectSubmitBtn:hover {
  background-color: lightgrey;
}
.projectSubmitBtn:active {
  background-color: #954229;
  color: white;
}

.formDiv {
  margin-top: 20px;
}
.apbBtnDiv {
  position: relative;
}
.projectSubmitBtn {
  position: relative;
  bottom: 1.5em;
  left: 3.5em;
}
input {
  border-radius: 7px;
}

.editProjectBox {
  position: absolute;
  top: 20%;
  left: 35%;
  border: solid;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #353a3b;
  color: #e9e1da;
  border-radius: 40px;
}
.taskBox {
  position: absolute;
  top: 20%;
  left: 35%;
  border: solid;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: #353a3b;
  color: #e9e1da;
  border-radius: 40px;
}
.notesContainer {
  display: grid;
  grid-column: 1/3;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-y: scroll;
  height: 400px;
}
.notesContainer > * {
  margin: 20px;
}
.noteBox {
  display: flex;
  flex-direction: column;
  width: 200px;
  border-radius: 20px;
}
.noteBox > * {
  border: none;
  /* padding: 15px; */
}
.nbTitleInput {
  padding: 15px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 5px 5px #8a979a;
}
.nbTextArea {
  padding: 5px 15px 5px 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow-y: hidden;
  min-height: 100px;
  resize: none;
  box-shadow: 5px 5px #8a979a;
}
.tbErrorMsg {
  color: red;
  height: 10px;
}

.checked {
  text-decoration: line-through;
}
.selected {
  background-color: darkslategrey;
  color: white;
}

.hidden {
  display: none;
}
