@font-face {
  font-family: roboto;
  src: url(./font/Roboto/Roboto-Regular.ttf);
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
  background-color: #e9e1da;
  font-family: roboto;
}

.container-main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr 0.5fr;
}
.header {
  grid-column: 1 / 3;
  font-size: 40px;
  text-align: start;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #97bbb3;
}
.headerTitle {
  font-size: 60px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.addBtn {
  height: 2em;
  width: 2em;
  font-size: 40px;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px #5c5d5d;
}
.addBtn:hover {
  background-color: lightgrey;
}
.addBtn:active {
  background-color: darkslategrey;
  color: white;
}
.sidebar {
  border: solid;
  border-color: white;
  padding: 20px;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: rgb(202, 201, 181);
}
.today {
  margin-top: 40px;
}
.sideNav {
  height: 40px;
  font-size: 30px;
  border-radius: 30px;
}
.mainSection {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.footer {
  grid-column: 1/3;
  border-top: solid;
  color: white;
  background-color: rgb(113, 112, 111);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideNav:hover {
  background-color: lightgrey;
}
.sideNav:active {
  background-color: darkslategrey;
  color: white;
}
.project:hover {
  background-color: lightgrey;
}
.project:active {
  background-color: darkslategrey;
  color: white;
}

.projectList {
  text-align: start;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: scroll;
  height: 488px;
}
.project {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  border-radius: 5px;
  height: 70px;
  align-items: center;
  padding: 0 20px 0 20px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.pDueDateDiv {
  color: red;
}
.informationBox {
  border: solid;
  border-color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(202, 201, 181);
  padding: 20px;
}
.pEditBtn {
  width: 26px;
}
.projectNameInfo {
  font-size: 30px;
  text-decoration: underline;
}
.tasksDiv {
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: scroll;
}
.addTaskBtn {
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 20px;
  box-shadow: 2px 2px #5c5d5d;
}
.addTaskBtn:hover {
  background-color: lightgrey;
}
.addTaskBtn:active {
  background-color: darkslategrey;
  color: white;
}
.addProjectBox {
  position: absolute;
  top: 20%;
  left: 35%;
  border: solid;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  background-color: #353a3b;
  color: #e9e1da;
  border-radius: 40px;
  padding: 40px;
  gap: 40px;
  transition: all 0.5s ease-in-out;
}
.apbHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.addProjectBoxTitle {
  grid-column: 1/3;
  margin: auto;
  font-size: 30px;
}
.pErrorMsg {
  color: red;
  height: 30px;
}
.closeProjectBtn {
  width: 2em;
  height: 2em;
  margin-left: 6em;
  border-radius: 50%;
  border: none;
  font-size: 15px;
}
.closeProjectBtn:hover {
  background-color: lightgrey;
}
.closeProjectBtn:active {
  background-color: #ec0505;
  color: white;
}
.addProjectForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}
.projectSubmitBtn {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  font-size: 30px;
  border: none;
}
.projectSubmitBtn:hover {
  background-color: lightgrey;
}
.projectSubmitBtn:active {
  background-color: #065a43;
  color: white;
}
/*
.apbHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.pErrorMsg {
  color: red;
  border: solid;
  height: 30px;
}
.addProjectBoxTitle {
  grid-column: 1/3;
  margin: auto;
}
.closeProjectBtn {
  width: 2em;
  height: 2em;
  margin-left: 6em;
  margin-top: 1em;
  border-radius: 50%;
}
.closeProjectBtn:hover {
  background-color: lightgrey;
}
.closeProjectBtn:active {
  background-color: #954229;
  color: white;
}
.projectSubmitBtn {
  height: 2em;
  width: 2em;
  margin-top: 3em;
  border-radius: 50%;
  font-size: 30px;
}
.projectSubmitBtn:hover {
  background-color: lightgrey;
}
.projectSubmitBtn:active {
  background-color: #065a43;
  color: white;
} */

/* .apbBtnDiv {
  position: relative;
} */
/* .projectSubmitBtn {
  position: relative;
  bottom: 1.5em;
  left: 3.5em;
} */
input {
  border-radius: 7px;
}

.editProjectBox {
  position: absolute;
  top: 20%;
  left: 35%;
  border: solid;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #353a3b;
  color: #e9e1da;
  border-radius: 40px;
}
.taskBox {
  position: absolute;
  top: -200%;
  left: 35%;
  border: solid;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: #353a3b;
  color: #e9e1da;
  border-radius: 40px;
  padding: 40px;
  transition: all 0.3s ease-in;
}
.tbHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.tbTitle {
  font-size: 30px;
  grid-column: 1/3;
}
.tbCloseBtnDiv {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
}
.tbCloseBtn {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
}
.tbCloseBtn:hover {
  background-color: lightgrey;
}

.tbCloseBtn:active {
  background-color: #ec0505;
  color: white;
}
.tbForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}
.tbErrorMsg {
  color: red;
  height: 30px;
}
.taskAddBtn {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  font-size: 30px;
  border: none;
}
.taskAddBtn:hover {
  background-color: lightgrey;
}
.taskAddBtn:active {
  background-color: #065a43;
  color: white;
}
.notesContainer {
  display: grid;
  grid-column: 1/3;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-y: scroll;
  height: 528px;
}
.notesContainer > * {
  margin: 20px;
}
.noteBox {
  display: flex;
  flex-direction: column;
  width: 200px;
  border-radius: 20px;
}
.noteBox > * {
  border: none;
  /* padding: 15px; */
}
.nbTitleInput {
  padding: 15px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 5px 5px #8a979a;
}
.nbTextArea {
  padding: 5px 15px 5px 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow-y: hidden;
  min-height: 100px;
  resize: none;
  box-shadow: 5px 5px #8a979a;
}

.checked {
  text-decoration: line-through;
}
.selected {
  background-color: darkslategrey;
  color: white;
}

.hidden {
  visibility: hidden;
  top: -200%;
}
